<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping cart </title>
</head>
<body>
    <h1>shopping wher strpie </h1>
    <form action="/chat" method="post">
        <input type="submit" value="process to chekout">
    </form>
    
  <h1>shopping wher strpie </h1>
    <form action="/chat2" method="post">
        <input type="submit" value="process to chekout">
    </form>
     <h1>shopping wher strpie </h1>
    <form action="/chat3" method="post">
        <input type="submit" value="process to chekout">
    </form>
     <h1>shopping wher strpie </h1>
    <form action="/chatdeepseek" method="post">
        <input type="submit" value="process to chekout">
    </form>
      <h1>shopping wher strpie </h1>
    <form action="/detect-labels" method="post">
        <input type="submit" value="process to chekout">
    </form>
     <h1>shopping wher strpie </h1>
    <form action="/convert" method="post">
        <input type="submit" value="process to chekout">
    </form>
     <h1>shopping wher strpie </h1>
    <form action="/search" method="post">
        <input type="submit" value="process to chekout">
    </form>
     <h1>shopping wher strpie </h1>
    <form action="/remove-bg" method="post">
        <input type="submit" value="process to chekout">
    </form>
       <h1>shopping wher strpie </h1>
    <form action="/generate-text" method="post">
        <input type="submit" value="process to chekout">
    </form>
       <h1>shopping wher strpie </h1>
    <form action="/generate-code" method="post">
        <input type="submit" value="process to chekout">
    </form>
         <h1>shopping wher strpie </h1>
    <form action="/templates" method="post">
        <input type="submit" value="process to chekout">
    </form>
          <h1>shopping wher strpie </h1>
    <form action="/generate" method="post">
        <input type="submit" value="process to chekout">
    </form>

        <h1>shopping wher strpie </h1>
    <form action="/text-to-speech/:voiceId" method="post">
        <input type="submit" value="process to chekout">
    </form>
        <h1>shopping wher strpie </h1>
    <form action="/voice-clone" method="post">
        <input type="submit" value="process to chekout">
    </form>
        <h1>shopping wher strpie </h1>
    <form action="/voices" method="post">
        <input type="submit" value="process to chekout">
    </form>
          <h1>shopping wher strpie </h1>
    <form action="/generate-video2" method="post">
        <input type="submit" value="process to chekout">
    </form>
             <h1>shopping wher strpie </h1>
    <form action="/generate32" method="post">
        <input type="submit" value="process to chekout">
    </form>
</body>

</html>